

.d-item{
    height: 550px;
    background-size: cover;
    background-position: center;

}

.d-img{
    height: 100%;
    object-fit: center;
}

h1{
    color: rgb(128, 124, 124);
}

p{
    color: #9e9a9a;
}

footer{
    background-color: rgb(238, 150, 164);
    color: #7e7878;
    text-align: center;
}

.redes{
    font-size: 30px;
}

.redes i{
    letter-spacing: 10px;
}

.footer a{
    color: grey;
    text-decoration: none;
}

.footer ul li{
    list-style: none;
}

.call{
    height: 700px;
    width: 100%;
    background-color: pink;

}

.galeria{
    height: 700px;
    width: 100%;
    background-color: pink;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
}

.item{
    background-size: cover;
    background-position: center;
}

.item1{
    background-image: url(./img/foto1.jpeg);
}

.item2{
    background-image: url(./img/foto2.jpeg);
}

.item3{
    background-image: url(./img/foto3.jpeg);
}

.item4{
    background-image: url(./img/foto4.jpeg);
}

.item5{
    background-image: url(./img/foto5.jpeg);
}

.item6{
    background-image: url(./img/foto6.jpeg);
}

.item7{
    background-image: url(./img/foto7.jpeg);
}

.item8{
    background-image: url(./img/foto8.jpeg);
}

.item9{
    background-image: url(./img/foto8.jpeg);
}

.item10{
    background-image: url(./img/foto10.jpeg);
}

.item11{
    background-image: url(./img/foto11.jpeg);
}

.item12{
    background-image: url(./img/foto12.jpeg);
}



